<ul class="flex flex-wrap gap-1 justify-content-start list-none surface-ground shadow-1 p-2">
  @if (livros$ | async; as livrosState) {
    @if (livrosState.loading) {
      <p-skeleton height="30rem" class="flex-1"/>
      <p-skeleton height="30rem" class="flex-1"/>
      <p-skeleton height="30rem" class="flex-1"/>
    }
    @if (!livrosState.loading && !livrosState.livros) {
      <p>Nao há livros para serem exibidos, tente novamente.</p>
    }
    @if (!livrosState.loading && livrosState.livros) {
        @for (livro of livrosState.livros; track $index) {
          <app-card-livro [livro]="livro"></app-card-livro>
        } @empty {
          <div class="flex flex-column align-items-center justify-content-center w-full">
            <p>Infelizmente nenhum livro foi encontrado =(</p>
            <p>Se você acredita que isso seja um erro tente refinar sua pesquisa ou carregar a página novamente.</p>
          </div>
        }
    }
  }
  </ul> 