<li class="surface-section shadow-1 min-w-min h-min-max p-2">
  <div class="my-1">
    <p class="text-2xl md:text-xl text-primary font-bold my-0">
      {{ livro().titulo }}
      <span class="text-color-secondary text-base sm:text-sm text-center" style="vertical-align: middle;">({{livro().dataPublicacao | date:'yyyy'}})</span>
    </p>
    <p class="text-base text-color-secondary sm:text-sm my-0">{{ livro().autor.nome }}</p>
  </div>
  <p-skeleton height="20rem"/>
  <p class="text-base text-color-secondary sm:text-sm">{{ livro().editora }}</p>
  <p>Sinopse</p>
  <p-tag [value]="livro().genero" />
  <div class="flex w-full my-1">
    <button pButton icon="pi pi-shopping-cart" type="button" label="Adicionar ao carrinho" severity="primary" class="w-full"></button>
  </div>
</li>